*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: block;
    overflow: hidden;
    cursor: url('assets/img/aim.png'), text;
}
body.disabled{
    pointer-events: none;
}
html.waiting{
    cursor: wait;
}
body::before{
    content: '';
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(assets/img/duck-hunting-background.jpg) repeat-x bottom left;
}
.bird{
    display: none;
}
.bird-label{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url(assets/img/bird1.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: url(assets/img/aim.png), text;
    position: fixed;
}
.bird:checked + .bird-label{
    aspect-ratio: 1/1;
    width: 70px;
    height: 70px;
    background-image: url(assets/img/dieEffect.png);
    transform-origin: 60%;
    transition: 1s all;
    position: fixed;
    animation: none !important;
}


.finished {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    display: none;
}

@keyframes leftFly {
    0%{
        top: 10%;
        right: 0%;
    }
    10%{
        top: 50%;
        right: 10%;
    }
    20%{
        top: 80%;
        right: 20%;
    }
    30%{
        top : 90%;
        right: 30%;
    }
    40%{
        top : 90%;
        right: 40%;
    }
    50%{
        top : 90%;
        right: 50%;
    }
    60%{
        top : 90%;
        right: 60%;
    }
    70%{
        top : 90%;
        right: 70%;
    }
    80%{
        top : 90%;
        right: 80%;
    }
    90%{
        top : 90%;
        right: 90%;
    }
    100%{
        top : 90%;
        right: 100%;
    }
}